@CHARSET "UTF-8";

.ret-msg {
	width: 100%;
	text-align: center;
	color: red;
	font-size: 15;
	display: inline; /* display: inline-block; */
}

.AXModalBox .windowbox form {
	margin-bottom : 0px;
}
	
.grayBox {
	float: left;
	width: 300px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}
	
.reservationTogetherContent {
	width: 900px;
	height: 728px;
	margin: 10px;
	float: left;
}

.submenu {
	background: #EFEFEF;
	color: #1AB394;
}