<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>YeaMin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--
  	* log4j의 설정 파일인 log4j.properties를 아래와 같은 경로에 넣어주면 Tomcat이 자동으로 읽어들인다.
  		- 경로 : /WEB-INF/classes/log4j.properties
  	* 만약에 Tomcat이 읽어들이는 경로를 지정하려면 아래와 같이 설정한다. 
		<context-param>
			<param-name>log4jConfigLocation</param-name>
			<param-value>/WEB-INF/classes/log4j.properties</param-value>
		</context-param>
  -->
  <context-param>
  	<param-name>log4jConfigLocation</param-name>
  	<param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>
</web-app>